html {
    scroll-behavior: smooth;
}

/* Animaciones */
* {
    animation: appear 0.3s ease-in-out;
}

#mobileMenu,
#mobileMenu *{
    animation: none;
}

#mobileMenu {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

#mobileMenu > * {
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

#mobileMenu.notShowed > *{
    transform: scale(0.5);
    transition: transform 0.6s ease-in-out;
}


#mobileMenu.notShowed {
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
}

#verticalSeparator {
    margin: 4px auto;
    background-color: #fff;
    width: 2px;
    height: 24px;
}

.servicio__itm {
    position: relative;
}

.servicio__itm > div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#reviewSplide .splide__arrow {
    background-color: transparent;
}

#reviewSplide .splide__arrow svg {
    fill: #fff;
}

.gracias__left {
    position: relative;
}

.gracias__left > div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contacto__input {
    width: 100%;
    background-color: var(--light-black);
    border: 1px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 12px 24px;
    margin: 12px 0;
    color: white;
}

.contacto__input::placeholder {
    color: rgba(255, 255, 255, 0.572);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.contacto__input:focus {
    outline: 1px solid white;
}

.contacto__form--right {
    position: relative;
}

.contacto__form--right > div {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}